


{{!-- код с скроллом ниже --}}



{{#each this}}
<li class="movie-item"  id="{{id}}">
        {{!-- добавляет id каждого фильма  id--}}
        {{!-- атрибут onclick="return false" убирает передергивание страницы --}}
        <a href="#" class="movie-link" id="{{id}}" onclick="return false">
        {{#if poster_path}}
        <img src="https://image.tmdb.org/t/p/original{{poster_path}}" style="border-radius: 5px;" alt="{{title}}" srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{poster_path}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{poster_path}} 2x" class="movie-img" >
{{else}}
        <img src="https://image.tmdb.org/t/p/original/5QFzdUGc5lBn0VaS4RgfkNqjZEp.jpg" class="movie-img">
        {{!-- <img src="https://papik.pro/uploads/posts/2021-12/thumbs/1639516371_5-papik-pro-p-kinolenta-risunok-5.png" class="movie-img">  --}}
{{/if}}
<div class="movie-link__content" id="{{id}}" style="padding-top: 10px; max-width: 398px; display: flex;align-items: flex-start; flex-direction: column;">
        <p class="movie-name">{{title}}</p>
        <div class="movie-item__genre" id="{{id}}" style="display: flex; align-items: baseline;">
{{#if runtime}}
{{!-- <p class="genre" >{{genres.[0].name}} {{genres.[1].name}} {{genres.[2].name}}</p> --}}
{{!-- <p class="genre">{{#each genres}}{{name}},{{/each}}</p> --}}
<p class="genre">{{#each genres}}{{#if @first}}{{this.name}}{{/if}}{{/each}}{{#if genres.[1].name}}, {{genres.[1].name}}{{/if}}{{#if genres.[2].name}}, {{genres.[2].name}}{{/if}}</p>
{{!-- <p class="genre">{{genres.[0].name}}</p> --}}
{{else}}
<p class="genre">{{genres}}</p>
{{/if}}

{{#if genres}}
        <span class="movie-item__slash">|</span>
{{else}}
        <span class="movie-item__slash-zero" style="margin-left: 0px;"></span>
{{/if}}
        <p id="{{id}}" style="margin-top: 0;">
        <span class="movie-item__year">{{release_date.[0]}}{{release_date.[1]}}{{release_date.[2]}}{{release_date.[3]}}</span>
        {{#if runtime}}
        <span class="movie-item__vote-average">{{vote_average}}</span>
        {{/if}}
        </p>
        </div>
</div>

</a> 
</li>
{{/each}}
